.DS_Store

# Dependencies
node_modules/

# Playwright outputs
test-results/
playwright-report/
blob-report/

# Others
scripts/
cloud/google-cloud-functions/analyzeBrewProfile-function-source/
cloud/google-cloud-functions/analyzeCoffeeBag-function-source/
cloud/firebase-config/

